*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.registration-client-form{
    position: absolute;
    top: 30%;
    left: 35%;
    transform: translate(-30%, -35%);
    width: 350px;
}