<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BNP Paribas</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<!-- Верхняя панель навигации -->
<header class="top-nav">
    <div class="top-links">
        <a href="#">Private clients</a>
        <a href="#">Premium banking</a>
        <a href="#">Wealth Management</a>
        <a href="#">Small businesses</a>
        <a href="#">Enterprises</a>
        <a href="#">Security</a>
    </div>
    <div class="logo">
        <img src="/templates/logo/logobank.png" alt="BNP Paribas Logo">
        <p>Trust Bank </p>
    </div>
    <div class="actions">
        <a href="/templates/auth/html/loginType.html" class="loginLink">
            <button class="login">Log in</button>
        </a>
    </div>
</header>

<!-- Основное содержание -->
<main class="main-content">
    <!-- Баннер с рекламой кредита -->
    <section class="promo-banner">
        <div class="promo-image">
            <img src="/templates/logo/banner.png" alt="Promo Image" >
        </div>
    </section>

    <!-- Иконки сервисов -->
    <section class="services">
        <div class="service-item">
            <img src="/templates/logo/bank_account_logo.png" alt="Konta">
            <p>Bank Accounts</p>
        </div>
        <div class="service-item">
            <img src="/templates/logo/credit_card_icon.png" alt="Karty kredytowe">
            <p>Credit cards</p>
        </div>
        <div class="service-item">
            <img src="/templates/logo/loan.png" alt="Loans">
            <p>Loans</p>
        </div>
        <div class="service-item">
            <img src="/templates/logo/saving.png" alt="Savings">
            <p>Savings</p>
        </div>
        <div class="service-item">
            <img src="/templates/logo/insurance.png" alt="Insurance">
            <p>Insurance</p>
        </div>
        <div class="service-item">
            <img src="/templates/logo/investment.png" alt="Investment">
            <p>Investment</p>
        </div>
    </section>
</main>
</body>
</html>