<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Type</title>
    <link rel="stylesheet"  type="text/css" href="../styles/style.css?v=1.0">
</head>
<body>
<header>
    <div class="logo">
        <img src="/templates/logo/logobank.png" alt="BNP Paribas Logo">
        <p>Trust Bank </p>
    </div>
</header>
<div class="container">
    <div class="auth-box">
        <h2>Log In</h2>
        <img src="/templates/logo/personal.png" width="50" height="50">
        <p>For private clients</p>
        <a href="#">Войти</a>
    </div>
    <div class="auth-box">
        <h2>Log In</h2>
        <img src="/templates/logo/employee.png" width="50" height="50">
        <p>For employee</p>
        <a href="#">Войти</a>
    </div>
    </div>
</body>
</html>